<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders name="jsonAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Console Appender -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <Console name="Console" target="SYSTEM_OUT">
            <JSONLayout complete="true"></JSONLayout>
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- File Appender -->
        <File name="File" fileName="/Users/summit/Desktop/m.log">
            <JSONLayout complete="true"></JSONLayout>
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <!-- Log everything in custom package -->
        <Logger name="com.example.demo" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Log everything in Spring Boot -->
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Log everything in Spring Core -->
        <Logger name="org.springframework.core" level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>
</Configuration>